
logs
*.log



node_modules/
bower_components/
.env.local
.env.development.local
.env.test.local
.env.production.local
env
.env

dist/
build/
.out/
target/
coverage/

.DS_Store
Thumbs.db
*.swp
*.swo


.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
